.seat-booking-container {
    max-width:max-content;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #110808;
    text-align: center;
  }
  
  .date-picker-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .date-navigation {
    display: flex;
    align-items: center;
    margin-left:auto ;
  }
  
  .date-navigation button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
  }
  
  .slots-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .slots-container th,
  .slots-container td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .slots-container th {
    background-color: #f0f0f0;
  }
  
  .available {
    background-color: #619a7c; /* light blue */
    cursor: pointer;
    color: white;
  }
  
  .booked {
    background-color: #ed9e9e; /* light red */
    cursor: not-allowed;
    color:white;
  }
  