/* SeatBooking.css */
.seat-booking-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #110808;
    /* max-width: 400px; */
  }
  
  .date-picker-container {
    margin-bottom: 20px;
  }
  
  .seats-container {
    text-align: left;
  }
  
  .available {
    background-color: rgb(157, 206, 157);
    color: white;
    cursor: pointer;
  }
  
  .booked {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }

  